* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 100vw;
  color: #111d51;
  background-color: whitesmoke;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
 /*  padding: 20px; */
}

.form-contacto {
  display: flex;
  flex-direction: column; /* Estilo predeterminado para pantallas pequeñas */
  justify-content: center;
  align-items: center; /* Centra el contenido en pantallas pequeñas */
  padding: 50px 50px;
  font-size: larger;
  height: auto;
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-contacto h1 {
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

.form-contacto input,
.form-contacto textarea {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: large;
  padding: 10px;
  margin-top: 10px;
}

.contacto-contenedor {
  width: 100%;
  margin-bottom: 20px;
}

.contacto-contenedor label {
  align-self: flex-start;
  font-size: 1.1em;
}

.comentario {
  height: 150px;
  resize: vertical;
}

.imagen-contacto {
  box-sizing: border-box;
  height: auto;
  display: block;
  width: 100%;
  max-width: 700px;

}

#boton-contacto {
  display: inline-block;
  text-align: center;
  /* border-radius: 50px; */
  font-size: large;
  cursor: pointer;
  transition: background-color 0.5s;
  color: white;
  background-color: #06aace;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
}

#boton-contacto:hover {
  background-color: #077194;
}

#boton-contacto:active {
  background-color: #0a58ca;
  transition: background-color 0.8s;
}

@media (min-width: 1000px) {
  main {
    flex-direction: row;
    justify-content: center;

  }
  .imagen-contacto {
    max-width: 60%;
    margin:0;
    padding:0;

  }
  .form-contacto {
    max-width: 40%;
    max-height: 600px;
    align-items: flex-start;
    padding: 50px;
    margin: 0;
  }
  .form-contacto h1 {
    align-self: center;
  }
}
