* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


main {
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.tarjeta {
  width: 70%;
  min-width: 250px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
}

.fotoPerfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.usuario {
  font-size: 1.5em;
  margin-top: 20px;
}

.email {
  color: dimgray;
  font-size: 17px;
}

.contenedor {
  margin-top: 10px;
  font-size: 16.5px;
}

.contenedor a {
  text-decoration: none;
  display: block;
}

.form-informacion {
  width: 100%;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}

.grupo {
  margin-top: 10px;

}

label {
/*   font-weight: bold; */
  display: block;
}

input, select{
  font-size: 17px;
  padding-left: 5px;
  width: 300px;
  height: 30px;  
}

.file-input {
  font-size: 17px;
  padding-left: 2.5px;
  width: 100%;
  height: auto;
  margin-top: 5px;
} 

#botonGuardar, #botonModificar, #botonCancelar {
  width: 300px;
  margin: 5px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: whitesmoke;
  background-color: #06aace;
  padding: 10px;
}

#botonGuardar:hover, #botonModificar:hover, #botonCancelar:hover {
  background-color: #077194;
}

#botonGuardar:active, #botonModificar:active, #botonCancelar:active {
  background-color: #0a58ca;
  transition: background-color 0.8s;
}

#botonCancelar:disabled, #botonModificar:disabled, #botonGuardar:disabled{
  opacity: 0.2;
  cursor: not-allowed;
}


/*Tablet*/
@media(min-width: 500px) {

  .form-informacion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  #botonGuardar,#botonModificar, #botonCancelar {
    margin-top: 30px;
  }

  .file-input {
    margin-top: 20px;
  } 

}

/*Desktop*/
@media(min-width: 1075px) {
  .tarjeta{
    width: 300px;
    height: 400px;
    justify-content: left;
  }

  .form-informacion{
    width: 65%;
    justify-content: left;
    align-items: center;

  }

  #botonGuardar, #botonModificar, #botonCancelar {
    margin-top: 20px;
  }

  input, select {
    width: 200px;
    height: 25px;
  }

  .grupo {
    margin: 5px;
  }

  .contenedor {
    margin-top: 40px;
  }

  .file-input {
    margin-top: 22.5px;
  } 

}